@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Readex Pro", sans-serif;
}
body {
  box-sizing: inherit;
  background: #1F212C;
  color: #fff;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
section {
  padding: 100px;
}
.navbar {
  background: #292C36;
}
.navbar .container {
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.navbar ul {
  display: flex;
  list-style: none;
}
.navbar li {
  padding: 0 20px;
}
.navbar a {
  text-decoration: none;
  color: #fff;
}

/* __________homepage__________ */
.introduction {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.introduction h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
}

