@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;900&family=Roboto:wght@400;500;700;900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  box-sizing: inherit;
  background: #1F212C;
  color: #fff;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Raleway', sans-serif;
}
section {
  padding: 120px 0;
}
p, ul {
  font-weight: 100;
}
button {
  border-radius: 2px;
  border: none;
  cursor: pointer;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.btn {
  padding: 15px;
  background: #2c5bff;
  color: #fff;
  font-size: 1rem;
}
.transluscent {
  color: rgba(255, 255, 255, 0.5);
}
.secondary-heading {
  font-size: 2.7rem;
  max-width: 450px;
  margin-bottom: 20px;
}
.thrid-level__heading {
  font-size: 2.5rem;
  max-width: 400px;
}
.navbar {
  background: #292c36;
}
.navbar .container {
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar ul {
  display: flex;
  list-style: none;
}
.navbar li,
.navbar button {
  padding: 10px 20px;
}
.navbar button {
  background: #353741;
  font-size: 1rem;
  color: #fff;
  margin-left: 20px;
}
.navbar a {
  text-decoration: none;
  color: #fff;
}
.hamburger {
  display: none;
  filter: invert(1);
}

/* __________homepage__________ */
.introduction {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
}
h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 20px;
  max-width: 600px;
}
form.email {
  margin: 40px 0;
  display: flex;
  width: 100%;
}
form.email input {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
  padding: 0 15px;
  border: none;
  margin-right: 7px;
}
.reach {
  display: flex;
  align-items: center;
}
.reach strong {
  font-weight: normal;
  font-size: 2rem;
  margin-right: 20px;
}
.increased {
  padding-bottom: 10px;
}
/* ___features section____ */
.features > h2,
.features > p {
  text-align: center;
  max-width: 500px;
  margin: 0 auto 20px;
}
.features_card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin: 60px 0;
}
.features_card-grid .card,
.review__grids .card {
  background: #292c36;
  padding: 60px 30px;
  border-radius: 12px;
}
.features_card-grid .card img {
  margin-bottom: 30px;
}
.features_card-grid .card h4 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.features_card-grid .card p {
  line-height: 2;
}
.features_card-grid .card a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 10px 0;
  border-bottom: 1px solid #494c56;
  margin-top: 30px;
}
.learn-more {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding: 20px 0;
  border-radius: 12px;
}
/* ___offers section____ */
.offers-grid {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  grid: 30px;
  margin: 30px 0;
}
.offers-grid ul {
  margin-top: 20px;
}
.offers-grid .btn {
  margin-top: 30px;
}

/* ___offers section____ */
.review p {
  line-height: 1.5;
  font-weight: 100;
}
.review .secondary-heading {
  max-width: none;
  text-align: center;
  font-size: 2.4rem;
}
.review .review__grids {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}
.review .review__grids-column {
  display: grid;
  gap: 30px;
}
.review .card {
  padding: 15px;
}
.review .client {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #353741;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.btn-review {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 60px auto 0;
}

footer .container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
footer h3 {
  margin-bottom: 15px;
}
footer li {
  list-style: none;
}
footer a {
  text-decoration: none;
  color: #494c56;
}

/* _____________MEDIA QUERIES______________ */
@media (max-width: 1200px) {
  .container {
    padding: 0 60px;
  }
}
@media (max-width: 998px) {
  .introduction {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 756px) {
  section {
    padding: 60px 0;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  .container {
    padding: 0 30px;
  }
  .hamburger {
    display: block;
  }
  .navbar__links {
    position: fixed;
    width: 75vw;
    height: 100%;
    top: 0;
    left: 0;
    background: #292c36;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 0;
    height: 0;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
  }
  .navbar__links.active {
    width: initial;
    overflow: auto;
  }
  .navbar li,
  .navbar button,
  .logo {
    padding: 30px 0;
    margin: 0 0 0 30px;
  }
  .navbar button {
    background: none;
  }
  .features_card-grid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 512px) {
  h1 {
    line-height: 1.5;
  }
  .container {
    padding: 0 15px;
  }
}