@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Readex Pro", sans-serif;
}
body {
  box-sizing: inherit;
  background: #1F212C;
  color: #fff;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
section {
  padding: 100px;
}

header {
  min-height: 20vh;
}
.navbar {
  height: 100%;
  display: flex;
}

/* __________homepage__________ */

